@mixin mixincasegrillePN {
    position: relative;
    height: 500px;

    a .imagearticlecasegrille {
        object-fit: cover;

    }

    @media screen and (max-width: 1000px) {
        height: 300px;
    }
}

@mixin mixintitrearticlecasegrille {
    .titrearticlecasegrille {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
        color: $color-almost-white;
        text-shadow: $color-almost-black 1px 1px;
        font-size: 25px;

        span {
            background-color: $color-eurovelo5_princ1;
            padding: 0 10px;
            border-radius: 5px;
        }
    }
}