footer {

    display: flex;
    flex-direction: column;

    .footerGris{
    .imagesFooterHaut {

        display: flex;
        justify-content: space-between;
        padding: 10px;

        .imgfoot1 {
            height: 60px;
            width: 60px;
        }

        .imgfoot2 {
            height: 60px;
            width: 180px;
        }
    }
        .footerHautDeuxiemeMoitiee{
            display: flex;
           flex-direction: column;
        .texteFooterHaut{
            display: flex;
            flex-direction: column;
           margin: 100px;
           text-align: justify;
        }
    }
    .footerNoir{
        background-color: black;
    }
}
}