//bar de log
.navup {
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba($color: #cbd8d7, $alpha: 0.8);

    .divnavbouton {
        display: flex;
        justify-content: space-around;

        .boutondroit {
            display: flex;

            .reseaux {
                gap: 25px;
                display: flex;
                align-self: center;
                font-size: 20px;

                i {
                    color: white;
                }
            }

            .newsletternav {
                display: flex;
                // align-items: center;
                font-size: 15px;
                height: 40px;
                gap: 20px;
                margin-left: 30px;

                #pAbonnerNav {
                    color: #4d6362;
                    font-weight: bold;
                }

                #boutonInscription {
                    text-decoration: none;
                    color: white;
                    background-color: #007c744d;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    padding: 0 5px;
                    font-size: smaller;
                }

                #inscriptionMailAaccueil {
                    border-radius: 5px;
                    border: none;
                    background-color: rgba($color: white, $alpha: 0.4);
                    text-align: center;
                }
            }
        }

        .boutongauche {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-right: 20px;

            a {
                display: flex;
                align-self: center;
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }
    }
}

//nav bar sur tt le site

nav {
    width: 100%;
    display: flex;
    background-color: bisque;
    height: 100px;

    .logonav {
        display: flex;
        width: 200px;
        height: 100px;
    }

    .navul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navli {
        margin-left: 30px;
        margin-top: 40px;
        list-style: none;
    }

    .ResearchBar {
        position: absolute;
        right: 0;
        top: 35px;
        
    }

    .rechercheopen {
        transform: scaleY(0);
        position: absolute;
        top: 110px;
        right: 10px;
    }

    .rechercheopen.ouvrir {
        transform: scaleY(1);
    }
}

@media screen and (max-width: 650px) {

    nav {
        #burger {
            width: 30px;
            height: 2px;
            background: black;
            display: inline-block;
            position: fixed;
            left: 25px;
            top: 50px;
        }

        #burger::before,
        #burger::after {
            content: '';
            width: 30px;
            height: 2px;
            background: black;
            display: inline-block;
            position: absolute;
            transform-origin: center;
            transition: all 0.3s ease;
        }

        #burger::before {
            top: -7px;
        }

        #burger::after {
            top: 7px;
        }

        #burger.open {
            background: transparent;
        }

        #burger.open::before {
            transform: rotate(45deg);
            top: 0;
        }

        #burger.open::after {
            transform: rotate(-45deg);
            top: 0;
        }

        .navul {
            transform: scaleY(0);
        }

        .navul.open {
            transform: scaleY(1);
            position: absolute;
            top: 100px;
        }

        .logonav {
            position: absolute;
            left: 40%;
        }

        .ResearchBar {
            transform: scaleY(0);
        }

        .navli a {
            margin-left: 40px;
        }

        .rechercheopen.open {
            transform: scaleY(1);
            top: 200px;
            left: 125px;
        }
    }
}

@media screen and (max-width: 520px) {
    .navli a {
        margin-left: 30px
    }
}

@media screen and (max-width: 450px) {
    .logonav {
        left: 30%;
    }

    .navul {
        flex-direction: column;
    }

    .navli a {
        margin-left: 10px;
    }
    .rechercheopen.open {
        top: 300px;
    }
}

@media screen and (max-width: 380px) {
    .navli a {
        margin-left: 0;
        text-align: center;
    }
}