.divup {
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0px;
    left: 9px;
    right: 9px;
    height: 50px;
    border: 1px dotted blue;
    font-family: 'Istok Web', Arial, sans-serif;

}

.boutondroit {
    gap: 25px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 5px;
    font-size: 20px;
    i
    {
        
    } 
}

.newsletternav {
    display: flex;
    flex-direction: row;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 40px;

    a {
        text-decoration: none;
        color: white;
        background-color: #007C74;
        border-radius: 0 5px 5px 0;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding: 0 5px;
        height: 40px;
    }

    input {
        height: 35px;
        border-radius: 5px 0 0 5px;
        height: 40px;
        border: none;
        background-color: rgba($color: #84a8a6, $alpha: 0.4);

    }
}

.divnavbouton {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 15px;

}

.test {
    font-size: 300px;
}

header a {
    background: none;
    border: none;

    img {
        height: 30px;
        width: auto;
    }
}

.boutongauche {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;

    a {
        display: flex;
        align-self: center;
        text-decoration: none;
        color: blue;
    }
}