header {




  .swiper {
    width: 100%;
    height: 50vh;
    position: relative;

    .title {
      color: white;
      text-shadow: 1px 1px 2px black;
      top: 30%;
      right: 50%;
      transform: translate(50%, 50%);
      position: absolute;
      z-index: 10;
    }

    .swiper-slide {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      // font-family: "Open Sans", sans-serif;
      background-size: cover;
      background-position: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #carte-svg {
    width: 900px;
    //height:500px;
  }
}

.presentation {

  max-width: 800px;
  margin: 20px 0;


  h1 {
    font-family: 'Frutiger-light', Arial, sans-serif;
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  .textPresentation {
    display: flex;
    justify-items: center;
    text-align: justify;
  }
}

.menuderoulant {
  display: flex;
  flex-direction: column;
  justify-items: center;
  white-space: pre-line;
  background-color: #00b9cb;
  border-radius: 5px;
  max-width: 800px;
  width: 100%;

  h3 {
    margin: 20px 0;
    font-size: 30px;
    color: white;
    text-align: center;
  }

  form {
    padding: 0 25px;
  }

  .menuderoulantboite {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
  }

  .menuderoulantboite2 {
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
  }
}



//grille trouver mon accueil
.TMAV {
  width: 1200px;
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;

  .TMAVhaut {
    grid-column: 1 / 6;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;


    .TMAVlogo {
      width: 22px;
      height: 32px;


    }

    h3 {
      font-size: 30px;
      margin-left: 15px;
      margin-top: 0;
    }
  }

  p {
    grid-column: 1/6;
  }

  .TMAVarticle {
    position: relative;

    .TMAVimage {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;


    }

    &:hover {
      .TMAVimage {
        filter: blur(2px);
      }
    }

    .titreAccueilVelo {
      position: absolute;
      bottom: 40px;
      z-index: 100;
      color: white;
      text-align: center;
      width: 100%;
    }


  }

}

.articlebackground1 {
  background-image: url(/img/temoignagefond.jpg);
  width: 100%;
  height: 700px;

  .articlefait {
    display: flex;
    flex-direction: row;
    padding: 40px 100px 80px 100px;
    gap: 100px;

    img {
      border-radius: 5px;
      object-fit: cover;

      &:hover {
        filter: blur(2px);
      }
    }
  }

  h3 {
    color: white;
    padding-left: 200px;
    font-size: 40px;
  }

  p {
    padding-left: 200px;
    color: white;

  }

  .ilsontfait {

    width: 500px;
    height: 300px;
  }

  .boutonsindex {
    a {
      width: 197px;
      height: 35px;
      border-radius: 5px;
    }

    display: flex;
    padding-left: 850px;
    width: 197px;
    height: 40px;
    cursor: pointer;

    button {
      background-color: transparent;
      border-radius: 5px;
      color: white;
      border: solid white 2px;
      font-size: 15px;
      padding: 8px;
      cursor: pointer;
      background-color: #0cdbeeab;
      text-shadow: 1px 1px 2px grey;
    }

    :hover {
      background-color: white;
      color: #00b9cb;
    }
  }

}