// A supprimer lorsque la navbar sera insérée dans le code HTML
.temporaire {
    height: 100px;
    background-color: lightgray;
}

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #222;
    opacity: 0.8;

    h3 {
        text-decoration: none;
        color: white;
    }
}

.itineraire {
    position:absolute;
    top:100px;  
    left:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: row;

    .etapes {
        display:flex;
        flex-direction: column;
        width:50%;
        font-family: 'Istok Web', Arial, sans-serif;
        font-weight: 100;
        overflow-y: scroll;
        //scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    
        .etape {

            a {
                display:flex;
                flex-direction: row;
                padding:2px 0;
                transition: all ease 0.3s;
                text-decoration: none;
                color:black;

                .left-etape {
                    .img-itineraire {
                        width: 190px;
                        height: 190px;
                        object-fit: cover;
                    }
                    
                    .km {
                        position:relative;
                        top:-150px;
                        left:10px;
                        background-color: #eee;
                        width:60px;
                        padding:5px;
                        text-align: center;
                        font-size: 0.8rem;
                        font-weight: bold;
                        margin-top:-30px;
                    }
                }
        
                .right-etape {
                    display:flex;
                    flex-direction: column;
                    width:100%;
        
                    .type-etape {
                        background-color: $color-eurovelo5;
                        color:white;
                        padding: 8px;
                        font-size: 0.9rem;
                    }
        
                    .nom-etape {
                        margin: 2px 0;
                        padding-left: 8px;
                        font-size: 1.3rem;
                    }
    
                    .desc-etape {
                        padding:5px;
                    }
                }
    
                &:hover {
                    background-color: #fef;
                    cursor: pointer;
    
                    .left-etape {
                        .img-itineraire {
                            filter: blur(2px);
                        }
                    }
                }
                
                @media screen and (max-width: 1200px) {
                    display: flex;
                    flex-direction: column;

                    .left-etape .img-itineraire {
                        width:100%;
                    }
                }
            }  
        }

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    #map { 
        //max-width: 1000px; 
        height: 800px;
        width: 100%; 
        height:100%;
        z-index: 50;

        @media screen and (max-width: 800px) {
            display: none;
            height: 800px;
        }
    }
    
    .switcher {
        position:fixed;
        bottom: 30px;
        left:10px;
        right:10px;
        background-color: orange;
        text-align: center;
        padding:10px 0;
        z-index: 100;
        border-radius:5px;
        opacity:0.8;
        font-size: 1.1rem;
        font-weight: bold;
        visibility:hidden;
        cursor: pointer;

        &:hover {
            font-size: 1.2rem;
            padding:11px 0;
            opacity:1;
        }
    }

    @media screen and (max-width: 800px) {
        .switcher {
            visibility:visible;
        }
    }
}